menu-tree {
    border: 1px solid lightgray;
    margin: 1em;
    padding: 1em;
}

i.fa.none {
    display: none;
}

.menu-tree span {
    width: 100%;
    padding: .5em 1em;
    background: #f6f6f9;
    border: 1px solid #9f9f9f;
    display: block;
    margin: 0;
    border-radius: 0 3px 3px 0;
    text-transform: capitalize;
    cursor: grab;
}
.menu-tree span:hover {
    border-color: #787dba;
    filter: drop-shadow(0px 2px 2px #ebebf5);
}
.menu-tree b div {
    margin-left: 0px;
    width: 100%;
    margin-top: -2px;
}

.menu-tree b {
    float: left;
    transform: translate(-47.5px,-29px);
    color: #cccccc;
    background: white;
    position: absolute;
    z-index: 999999;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    cursor: pointer;
    text-align: center;
    display: flex;
    padding: 0;
    align-items: center;
    border: 1px solid #cccccc;
}
.menu-tree b i {
    font-style: normal;
}
.menu-tree ul {
    list-style: none;
}
.menu-tree span .fa {
    margin-right: 6px;
}
 .clone, #app .clone-group li span{

   pointer-events:none;

  }



.icon-list li:hover {
    background: #cdcdd2;
}
.icon-list i {
    margin-right: 1em;
}
.icon-list {
   z-index: 9999;
    list-style: none;
    max-height: 6em;
    overflow-y: scroll;
    position: absolute;
    background: white;
    padding: .2em;
    border: 1px solid;
    width: calc(100% - 4em);
    left: 2em;
}

.menu-form {
    position: relative;
    padding: 2em;
}

.menu-tree span.selected {
    background: #182054;
    color: white;
}

.trashcan {
    background: white;
    border: 1px solid #d4d6e9;
    width: 80px;
    margin: 2em auto;
    text-align: center;
    height: 121px;
    border-radius: 14px 14px 0 0;
    filter: drop-shadow(2px 4px 6px #d4d6e9);
    border-bottom-left-radius: 20px 182%;
    border-bottom-right-radius: 20px 182%;
}

.trashcan div:first-child {
    border-radius: 14px 14px 0 0;
    background: #182054;
    height: 33px;
    border: 5px solid white;
    border-bottom-left-radius: 13px 100%;
    border-bottom-right-radius: 13px 100%;
}

.trashcan div:last-child {
    margin-top: 12px;
    font-size: 2em;
    color: #3da7a9;
}

.trashcan.active:before {
    content: 'bye';
    position: absolute;
    top: -69px;
    left: -36px;
    background: #3da7a9;
    padding: .5em 1.5em;
    border-radius: 5px;
    animation: bey 1s;
    transform-origin: bottom;
    transform:translate(0px,0px) rotate(0deg) scaleY(0) scaleX(1);
}

@keyframes bey{
  0%{
     transform:translate(0px,0px) rotate(0deg) scaleY(0) scaleX(1);
  }
  50%{
      transform:translate(15px, 10px) rotate(45deg) scaleY(1) scaleX(1);
  }
  100%{
    transform:translate(20px, 50px) rotate(90deg) scaleY(1) scaleX(0);
  }
}


.info-box{
    border: 1px solid #9f9f9f;
    padding: 1em;
    margin-top: 1em;
    position: relative;
}
.info-box:before {
    content: "";
    background: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -11px;
    transform: rotate(45deg);
    border-top: 1px solid #9f9f9f;
    border-left: 1px solid #9f9f9f;
}
.menu-tree ul {
   padding: 0;
    margin:0;
    margin-left: 20px;
}
.btn-close {
    background: #6f73a3;
    color: white;
    font-weight: 500;
}
.menu-tree li {
   list-style-type: none;
    margin-right: 10px;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 10px;
}

.menu-tree li::before {
  content: "";
    position: absolute;
    top: 0px;
    left: -20px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 0 0px;
    width: 20px;
    height: 31px;
}

.menu-tree li::after {
  position: absolute;
    content: "";
    top: 0px;
    left: -20px;
    border-left: 1px solid #ccc;
    border-radius: 0px 0 0 0;
    width: 20px;
    height: calc(100% + 11px);
}

.menu-tree li:last-child::after  {
    display:none;
}

.menu-tree li:last-child:before{
    border-radius: 0 0 0 5px;
}



.menu-tree  li a {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding:2px 5px;
}
#clone{
pointer-events:none;
}






  li > ul:nth-of-type(2) b{
    display:none
  }
  .fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
   .delay-enter-active {
  transition: opacity 0s;
    transition-delay:0s;
}
  .delay-leave-active {
  transition: opacity 0s;
    transition-delay:1s;
}
.delay-enter, .delay-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.dragging b, .dragging .clone-group, .clone{
   pointer-events:none;
 }


     .delay2-enter-active {
  transition: opacity 0s;
    transition-delay:.5s;
}
  .delay2-leave-active {
  transition: opacity 0s;
    transition-delay:0s;
}
.delay2-enter, .delay2-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

 /*
  .clone-group:before{
    content:'[-]';
    top:0;
    left:-2em;
   font-weight: 900;
  }
 */

.menu-tree, .menu-form {
    border: 1px solid lightgray;
    margin: 0;
    margin-right: -1px;
    padding: 1em;
}
.menu-form label, .menu-form input, .menu-form select {
    width: 100%;
    display: block;
}
  #clone, #clone-group{
  pointer-events:none;


  }
#clone span, #clone-group span, .info-clone span {
    background: #ffffff;
    color: #ffffff;
    border: 1px dashed #9f9f9f;
    border-radius: 3px;
}

  .menu-tree #clone, .menu-tree #clone-group{

  }

  .dragmode{
   opacity:0.2;
  }
  .dragmode ul{
   display:none;
  }
  .dragmode:after, .dragmode:before{
  content:"";
    display:none;

  }
  li.info-drag:after, li.info-drag:before{
  display:none;
  }
  li.info-drag{
      position: absolute;
    width: fit-content;
    z-index: 999999999;
    top: 42px;
    transition:transform .5s;
     transform:translateX(120px)
  }
  li.info-drag.in{
   transform:translateX(20px)
  }
  .info-drag span{
    background: #00a7a9;
  }
  .info-drag .fa-hand-pointer {
    transform: translate(55px, -16px);
    font-size: 36px;
}
  .tree-top-item {
     text-align: center;
    margin: -1em -1em -1px -1em;
    height: 3em;
    width: calc(100% + 2em);
    background: #f6f6f9;
    border-bottom: 1px solid #cccccc;
    padding-top: 0.6em;
    font-weight: 500;
}

  div .menu-tree:not(.card):first-child .tree-top-item {
    display: none;
}
    div .menu-tree:first-child b{
    display: none;
}
div .menu-tree:not(.card):first-child li:before {
    display: none;
}


div .menu-tree:not(.card):first-child li span {
    width: 100%;
    margin: 0 auto;
}
  div .menu-tree:not(.card), .menu-form{
  position:relative;
  }
