/* layout */
.wssearch {
  display: grid;
  grid-template-columns: 20ch 1fr;
  grid-template-rows:    auto
                         auto
                         auto
                         1fr;
  grid-template-areas:'search search'
                      'selected selected'
                      'filters total'
                      'filters main';
  grid-gap: .5em 2em;
}
.wssearch--search {
  grid-area: search;
}
.wssearch--total {
  grid-area: total;
}
.wssearch--selected {
  grid-area: selected;
}
.wssearch--filters {
  grid-area: filters;
}
.wssearch--main {
  grid-area: main;

  transition: filter .2s ease-in-out;
}
.wssearch--main__loading{
  filter: blur(1px);
}





  .wssearch--filter-showmore {
      display: block;
      width: 100%;
      height: 1em;
  }



.wssearch--hit__link, .wssearch--hit__body {
    display: block;
}



.wssearch--pager {
  justify-self: end;
}
.wssearch--pager span {
  cursor: pointer;
  padding: 7px 4px;
}
.wssearch--pager span:hover {
  background: lightgray;
}
