/* layout */
.wssearch {
  display: grid;
  grid-template-columns: 20ch 1fr;
  grid-template-rows:    auto
                         minmax(2em, auto)
                         auto
                         1fr;
  grid-template-areas:'search search'
                      'selected selected'
                      'filters total'
                      'filters main';
  grid-gap: .5em 2em;
}

.wssearch--main {
  grid-area: main;
  transition: filter .2s ease-in-out;
}
.wssearch--main__loading{
  filter: blur(1px);
}

/*vars*/
:root{
  --base-color:hsl(220, 60%, 50%);
  --tint-1:hsl(0, 0%, 94%);
  --border-1:1px solid hsl(212, 9%, 66%);
  --star-size:1.5em;

  /*icons*/
  --search-icon:url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Esearch%3C/title%3E%3Cpath d=%22M7.5 13c3.04 0 5.5-2.46 5.5-5.5S10.54 2 7.5 2 2 4.46 2 7.5 4.46 13 7.5 13zm4.55.46A7.432 7.432 0 017.5 15C3.36 15 0 11.64 0 7.5S3.36 0 7.5 0C11.64 0 15 3.36 15 7.5c0 1.71-.57 3.29-1.54 4.55l6.49 6.49-1.41 1.41-6.49-6.49z%22/%3E%3C/svg%3E');
  --clear-icon:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' aria-hidden='true'%3E%3C!----%3E%3Cg fill='%23000'%3E%3Cpath d='M10 0a10 10 0 1010 10A10 10 0 0010 0zm5.66 14.24l-1.41 1.41L10 11.41l-4.24 4.25-1.42-1.42L8.59 10 4.34 5.76l1.42-1.42L10 8.59l4.24-4.24 1.41 1.41L11.41 10z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  --check-icon:url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2220%22 height=%2220%22 viewBox=%220 0 20 20%22%3E%3Ctitle%3Echeck%3C/title%3E%3Cg fill=%22%23fff%22%3E%3Cpath d=%22M7 14.17L2.83 10l-1.41 1.41L7 17 19 5l-1.41-1.42z%22/%3E%3C/g%3E%3C/svg%3E');
  --star-icon-open:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' version='1.0'%3E%3Cpath d='M46.296 51.906l-14.38-9.431-14.413 9.38 4.526-16.591-13.375-10.81 17.177-.822 6.148-16.06 6.09 16.082 17.174.884L41.83 35.299l4.467 16.607z' transform='matrix(.98686 0 0 1.03704 .471 1.16)' fill='%23fff' stroke='%237f7f7f' stroke-width='2'/%3E%3C/svg%3E");
  --star-icon-filled:url("data:image/svg+xml;charset=utf8,%3Csvg width='300px' height='275px' viewBox='0 0 300 275' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3Cpolygon fill='%23fdff00' stroke='%23605a00' stroke-width='15' points='150,25 179,111 269,111 197,165 223,251 150,200 77,251 103,165 31,111 121,111' /%3E%3C/svg%3E");
}









